.header {
    height: 8.5rem;
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.5rem;
}

.header__logo-img {
    width: 12rem;
}

.header__content {
    font-size: 2.3rem;
    font-weight: 400;
    margin-top: 3rem;
}

.header__content--help {
    font-size: 1.4rem;
    color: #f25737;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee4d2d;
}

.auth-from {
    position: absolute;
    left: 80em;
    background-color: var(--white-color);
    width: 40rem;
    border-radius: 0.5rem;
}

.auth-from__header {

}

.auth-from__form {

}

.auth-from__group {

}

.auth-from__input {

}

.auth-from__control {

}

.auth-from__help {

}

.auth-from__help-text {

}

.auth-from__aside {

}

.auth-from__aside--or {

}

.auth-from__aside--dash {

}

.auth-from__socials {

}

.auth-from__switch {

}

.auth-from__switch-text {

}

.auth-from__switch--link {

}



